<%- include('partials/header.ejs',{user:user || false}) %>
<ul>
    <li class="px-8 py-4">
        <p class="font-bold my-4">¿Qué beneficios encuentras en el estilo MVC?</p>
        <p>Separacion de responsabilidades, reutalizacion de codigo
            facilidad de mantenimiento, flexibilidad para adaptarse a diferentes proyectos
        </p>
    </li>
    <li class="px-8 py-4">
        <p class="font-bold my-4">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
        <p>Puede ser complejo, puede tener sobrecarga de codigo, la curva de aprendizaje
            se puede hacer pesada, la implementacion puede ser mas sencilla dependiendo 
            de las tecnologias
        </p>
    </li>
    <li class="px-8 py-4">
        <p class="font-bold my-4">¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</p>
        <p>Da mayor seguridad, modularidad, flexibilidad, mejora la posibilidad de que
            la aplicacion sea compatible en multiples sistema, mayor rendimiento
        </p>
    </li>
    <li class="px-8 py-4">
        <p class="font-bold my-4">¿Qué es SQL injection y cómo se puede prevenir?</p>
        <p>Es un tipo de ataque informatico que consiste en insertar codigo en una consulta SQL,
            a traves de una entrada de datos no validada.
            Para prevenirlo se puede implementar:
            Uso de sentencias preparadas, validar la entrada de datos, limitar los permisos de la 
            base de datos y mantener actualizado el software
        </p>
    </li>
</ul>
<%- include('partials/footer.ejs') %>