<%- include('partials/header.ejs',{user:user || false}) %>
<ul>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Qué beneficios encuentras en el estilo MVC?</p>
        <p>Separacion de responsabilidades, reutalizacion de codigo
            facilidad de mantenimiento, flexibilidad para adaptarse a diferentes proyectos
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
        <p>Puede ser complejo, puede tener sobrecarga de codigo, la curva de aprendizaje
            se puede hacer pesada, la implementacion puede ser mas sencilla dependiendo 
            de las tecnologias
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</p>
        <p>Da mayor seguridad, modularidad, flexibilidad, mejora la posibilidad de que
            la aplicacion sea compatible en multiples sistema, mayor rendimiento
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Qué es SQL injection y cómo se puede prevenir?</p>
        <p>Es un tipo de ataque informatico que consiste en insertar codigo en una consulta SQL,
            a traves de una entrada de datos no validada.
            Para prevenirlo se puede implementar:
            Uso de sentencias preparadas, validar la entrada de datos, limitar los permisos de la 
            base de datos y mantener actualizado el software
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Qué otras formas de autentificación existen?</p>
        <p>Autenticacion basada en certificados que esta se basa en un certificado virtual
            que se emite, el cual se puede almacenar en una USB o en el navegador web.
            Autenticacion biometrica, con este tipo se usan caracteristicas fisicas del usuario
            como huellas dactilares, reconocimiento facial o de voz
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿En qué consiste el control de acceso basado en roles?</p>
        <p>Consiste en que cada usuario debera estar asignado a diferentes roles ya sea uno
            o varios segun el modelo del sistema y asi mismo cada rol tendra diferentes
            permisoso privilegios con los que podra hacer diferentes acciones en el sistema
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">Investiguen y describan 2 sistemas, uno que aplique RBAC y uno que no. Realicen un análisis de las ventajas y desventajas de cada uno con respecto al control de acceso.</p>
        <p>Tomando de referencia un sistema de inventarios, uno donde se aplica RBAC y otro donde no.
            En el primero ya que no hay permisos se entenderia que cualquier usuario podra hacer cambio en el sistema
            por lo tanto podra cambiar informacion que no deberia cambiar por ejemplo un usuario podria registrar que se tienen
            menos unidades en almacen o cambiar datos de entregas que se han hecho ya que aunque se podria decir que en la
            empresa existen diferentes roles en el sistema no serviria ya que todos pueden hacer lo que sea.
            Por otro lado en el que si se aplica los usuarios podran tener diferentes funciones, por ejemplo algunos
            unicamente podran consultar el inventario y algunos otros para registrar o editar informacion con lo que se 
            tendra una mayor seguridad en la informacion.
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</p>
        <p>permite crear aplicaciones web más interactivas, responsivas y con mayor integración con diferentes fuentes de datos
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</p>
        <p>Es vulnerable a ataques de Cross-Site Scripting (XSS) debido a los datos enviados al servidor,
            por lo tanto lo recomendable seria hacer tanto validaciones del lado del cliente como del servidor
        </p>
    </li>
    <li class="px-8 py-4 dark:text-gray-200">
        <p class="font-bold my-4">¿Qué es JSON?</p>
        <p>es un formato de texto ligero utilizado para intercambiar datos entre aplicaciones. Se basa en la sintaxis de los objetos de JavaScript, pero es independiente de cualquier lenguaje de programación.
        </p>
    </li>
</ul>
<%- include('partials/footer.ejs') %>