<%- include('partials/header.ejs',{user:user || false}) %>
<ul>
    <li class="px-8 py-4">
        <p class="font-bold my-4">¿Qué beneficios encuentras en el estilo MVC?</p>
        <p>Separacion de responsabilidades, reutalizacion de codigo
            facilidad de mantenimiento, flexibilidad para adaptarse a diferentes proyectos
        </p>
    </li>
    <li class="px-8 py-4">
        <p class="font-bold my-4">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
        <p>Puede ser complejo, puede tener sobrecarga de codigo, la curva de aprendizaje
            se puede hacer pesada, la implementacion puede ser mas sencilla dependiendo 
            de las tecnologias
        </p>
    </li>
</ul>
<%- include('partials/footer.ejs') %>