<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/96/77/85/96778559c753ce2248471031e06a19d0.jpg" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="dark:bg-gray-600">
    <nav class="bg-white border-gray-200 dark:bg-gray-900 fixed top-0 w-full">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
            <a class="flex items-center" href="/anime">
                <img src="https://i.pinimg.com/originals/96/77/85/96778559c753ce2248471031e06a19d0.jpg" class="h-6 mr-3 sm:h-9 rounded-full" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Anime</span>
            </a>
        </div>
    </nav>
    <div class="w-full h-screen flex items-center justify-center">
        <div class="bg-gray-100 inline-block w-1/2 p-8 rounded-lg dark:bg-gray-800">
            <form method="POST" action="/anime/registrar">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <div class="mb-6">
                  <label for="user" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Nombre</label>
                  <input type="text" id="nombre" name="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required>
                </div>
                <div class="mb-6">
                  <label for="user" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Usuario</label>
                  <input type="text" id="nombreUsuario" name="nombreUsuario" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required>
                </div>
                <div class="mb-6">
                  <label for="password" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Contraseña</label>
                  <input type="password" id="contrasena" name="contrasena" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
                
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
        </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
</body>
</html>